.logout {
  user-select: none;
  width: 320px;
  margin: 40px auto;
  text-align: center;
  border: solid 2px rgb(177, 169, 169);
  box-shadow: 7px 6px 15px 2px #777777;
  border-radius: 10px;
  padding: 38px 28px;
  background-color: white;
}

.logout h3 {
  color: rgb(71, 69, 69);
}

.logout button {
  text-decoration: none;
  border: solid 1px rgb(120, 116, 116);
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  transition: all .3s;
}

.logout button:hover {
  background-color: #777777;
  color: white;
}